CapaGUI/Service References/srGuardaDatosCorrectivos/wsGuardaDatosCorrectivos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="agregaDatosCorrectivos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="medida_Correctiva" type="tns:Medida_Correctiva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Medida_Correctiva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cod_MC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Detalle_Ficha" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_TMC" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Inicio" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha_Termino" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="agregaDatosCorrectivosResponse">
        <s:complexType />
      </s:element>
      <s:element name="entregaMedida_CorrectivaDataSet">
        <s:complexType />
      </s:element>
      <s:element name="entregaMedida_CorrectivaDataSetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entregaMedida_CorrectivaDataSetResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="entregaLargoMedida_Correctiva">
        <s:complexType />
      </s:element>
      <s:element name="entregaLargoMedida_CorrectivaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entregaLargoMedida_CorrectivaResult" type="tns:ArrayOfMedida_Correctiva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMedida_Correctiva">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Medida_Correctiva" nillable="true" type="tns:Medida_Correctiva" />
        </s:sequence>
      </s:complexType>
      <s:element name="entregaPosicionMedida_Correctiva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pos" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="entregaPosicionMedida_CorrectivaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="entregaPosicionMedida_CorrectivaResult" type="tns:Medida_Correctiva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarMedida_Correctiva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_MC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarMedida_CorrectivaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarMedida_CorrectivaResult" type="tns:Medida_Correctiva" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarMedidaCorrectiva">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Cod_MC" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="eliminarMedidaCorrectivaResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="agregaDatosCorrectivosSoapIn">
    <wsdl:part name="parameters" element="tns:agregaDatosCorrectivos" />
  </wsdl:message>
  <wsdl:message name="agregaDatosCorrectivosSoapOut">
    <wsdl:part name="parameters" element="tns:agregaDatosCorrectivosResponse" />
  </wsdl:message>
  <wsdl:message name="entregaMedida_CorrectivaDataSetSoapIn">
    <wsdl:part name="parameters" element="tns:entregaMedida_CorrectivaDataSet" />
  </wsdl:message>
  <wsdl:message name="entregaMedida_CorrectivaDataSetSoapOut">
    <wsdl:part name="parameters" element="tns:entregaMedida_CorrectivaDataSetResponse" />
  </wsdl:message>
  <wsdl:message name="entregaLargoMedida_CorrectivaSoapIn">
    <wsdl:part name="parameters" element="tns:entregaLargoMedida_Correctiva" />
  </wsdl:message>
  <wsdl:message name="entregaLargoMedida_CorrectivaSoapOut">
    <wsdl:part name="parameters" element="tns:entregaLargoMedida_CorrectivaResponse" />
  </wsdl:message>
  <wsdl:message name="entregaPosicionMedida_CorrectivaSoapIn">
    <wsdl:part name="parameters" element="tns:entregaPosicionMedida_Correctiva" />
  </wsdl:message>
  <wsdl:message name="entregaPosicionMedida_CorrectivaSoapOut">
    <wsdl:part name="parameters" element="tns:entregaPosicionMedida_CorrectivaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarMedida_CorrectivaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarMedida_Correctiva" />
  </wsdl:message>
  <wsdl:message name="buscarMedida_CorrectivaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarMedida_CorrectivaResponse" />
  </wsdl:message>
  <wsdl:message name="eliminarMedidaCorrectivaSoapIn">
    <wsdl:part name="parameters" element="tns:eliminarMedidaCorrectiva" />
  </wsdl:message>
  <wsdl:message name="eliminarMedidaCorrectivaSoapOut">
    <wsdl:part name="parameters" element="tns:eliminarMedidaCorrectivaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsGuardaDatosCorrectivosSoap">
    <wsdl:operation name="agregaDatosCorrectivos">
      <wsdl:input message="tns:agregaDatosCorrectivosSoapIn" />
      <wsdl:output message="tns:agregaDatosCorrectivosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="entregaMedida_CorrectivaDataSet">
      <wsdl:input message="tns:entregaMedida_CorrectivaDataSetSoapIn" />
      <wsdl:output message="tns:entregaMedida_CorrectivaDataSetSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="entregaLargoMedida_Correctiva">
      <wsdl:input message="tns:entregaLargoMedida_CorrectivaSoapIn" />
      <wsdl:output message="tns:entregaLargoMedida_CorrectivaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="entregaPosicionMedida_Correctiva">
      <wsdl:input message="tns:entregaPosicionMedida_CorrectivaSoapIn" />
      <wsdl:output message="tns:entregaPosicionMedida_CorrectivaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarMedida_Correctiva">
      <wsdl:input message="tns:buscarMedida_CorrectivaSoapIn" />
      <wsdl:output message="tns:buscarMedida_CorrectivaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMedidaCorrectiva">
      <wsdl:input message="tns:eliminarMedidaCorrectivaSoapIn" />
      <wsdl:output message="tns:eliminarMedidaCorrectivaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsGuardaDatosCorrectivosSoap" type="tns:wsGuardaDatosCorrectivosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregaDatosCorrectivos">
      <soap:operation soapAction="http://tempuri.org/agregaDatosCorrectivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entregaMedida_CorrectivaDataSet">
      <soap:operation soapAction="http://tempuri.org/entregaMedida_CorrectivaDataSet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entregaLargoMedida_Correctiva">
      <soap:operation soapAction="http://tempuri.org/entregaLargoMedida_Correctiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entregaPosicionMedida_Correctiva">
      <soap:operation soapAction="http://tempuri.org/entregaPosicionMedida_Correctiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMedida_Correctiva">
      <soap:operation soapAction="http://tempuri.org/buscarMedida_Correctiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMedidaCorrectiva">
      <soap:operation soapAction="http://tempuri.org/eliminarMedidaCorrectiva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsGuardaDatosCorrectivosSoap12" type="tns:wsGuardaDatosCorrectivosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="agregaDatosCorrectivos">
      <soap12:operation soapAction="http://tempuri.org/agregaDatosCorrectivos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entregaMedida_CorrectivaDataSet">
      <soap12:operation soapAction="http://tempuri.org/entregaMedida_CorrectivaDataSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entregaLargoMedida_Correctiva">
      <soap12:operation soapAction="http://tempuri.org/entregaLargoMedida_Correctiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="entregaPosicionMedida_Correctiva">
      <soap12:operation soapAction="http://tempuri.org/entregaPosicionMedida_Correctiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarMedida_Correctiva">
      <soap12:operation soapAction="http://tempuri.org/buscarMedida_Correctiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMedidaCorrectiva">
      <soap12:operation soapAction="http://tempuri.org/eliminarMedidaCorrectiva" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsGuardaDatosCorrectivos">
    <wsdl:port name="wsGuardaDatosCorrectivosSoap" binding="tns:wsGuardaDatosCorrectivosSoap">
      <soap:address location="http://localhost:7278/wsGuardaDatosCorrectivos.asmx" />
    </wsdl:port>
    <wsdl:port name="wsGuardaDatosCorrectivosSoap12" binding="tns:wsGuardaDatosCorrectivosSoap12">
      <soap12:address location="http://localhost:7278/wsGuardaDatosCorrectivos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>