CapaGUI/Service References/srEntregaResultados/wsEntregaResultadosHistoricos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EntregarResultadosHistoricos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="año" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EntregarResultadosHistoricosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EntregarResultadosHistoricosResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EntregarResultadosHistoricosSoapIn">
    <wsdl:part name="parameters" element="tns:EntregarResultadosHistoricos" />
  </wsdl:message>
  <wsdl:message name="EntregarResultadosHistoricosSoapOut">
    <wsdl:part name="parameters" element="tns:EntregarResultadosHistoricosResponse" />
  </wsdl:message>
  <wsdl:portType name="wsEntregaResultadosHistoricosSoap">
    <wsdl:operation name="EntregarResultadosHistoricos">
      <wsdl:input message="tns:EntregarResultadosHistoricosSoapIn" />
      <wsdl:output message="tns:EntregarResultadosHistoricosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsEntregaResultadosHistoricosSoap" type="tns:wsEntregaResultadosHistoricosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EntregarResultadosHistoricos">
      <soap:operation soapAction="http://tempuri.org/EntregarResultadosHistoricos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsEntregaResultadosHistoricosSoap12" type="tns:wsEntregaResultadosHistoricosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EntregarResultadosHistoricos">
      <soap12:operation soapAction="http://tempuri.org/EntregarResultadosHistoricos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsEntregaResultadosHistoricos">
    <wsdl:port name="wsEntregaResultadosHistoricosSoap" binding="tns:wsEntregaResultadosHistoricosSoap">
      <soap:address location="http://localhost:7278/wsEntregaResultadosHistoricos.asmx" />
    </wsdl:port>
    <wsdl:port name="wsEntregaResultadosHistoricosSoap12" binding="tns:wsEntregaResultadosHistoricosSoap12">
      <soap12:address location="http://localhost:7278/wsEntregaResultadosHistoricos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>